<!DOCTYPE html>
<html lang="en">

<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html
  for each environment. htmlWebpackPlugin will dynamically add references to the scripts
  and styles that it bundles to this file.
  The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>T2</title>
  <script id="__bs_script__">//<![CDATA[
      document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.18.5'><\/script>".replace("HOST", location.hostname));
  //]]></script>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
      <link type="text/css" rel="stylesheet"
            href="https://t2.maykor.com/rigel/javax.faces.resource/theme.css.xhtml?ln=primefaces-poseidon-turquoise"/>
      <link type="text/css" rel="stylesheet"
            href="/css/font-awesome.css"/>
      <link type="text/css" rel="stylesheet"
            href="https://t2.maykor.com/rigel/javax.faces.resource/components.css.xhtml?ln=primefaces&amp;v=6.0"/>
      <script type="text/javascript"
              src="https://t2.maykor.com/rigel/javax.faces.resource/jquery/jquery.js.xhtml?ln=primefaces&amp;v=6.0"></script>
      <script type="text/javascript"
              src="https://t2.maykor.com/rigel/javax.faces.resource/jquery/jquery-plugins.js.xhtml?ln=primefaces&amp;v=6.0"></script>
      <script type="text/javascript" src="https://t2.maykor.com/rigel/javax.faces.resource/core.js.xhtml?ln=primefaces&amp;v=6.0"></script>
      <script type="text/javascript"
              src="https://t2.maykor.com/rigel/javax.faces.resource/components.js.xhtml?ln=primefaces&amp;v=6.0"></script>
      <script type="text/javascript"
              src="https://t2.maykor.com/rigel/javax.faces.resource/captcha/captcha.js.xhtml?ln=primefaces&amp;v=6.0"></script>
      <link type="text/css" rel="stylesheet"
            href="https://t2.maykor.com/rigel/javax.faces.resource/css/layout-turquoise.css.xhtml?ln=poseidon-layout"/>
      <script type="text/javascript">if (window.PrimeFaces) {
          PrimeFaces.settings.locale = 'ru';
          PrimeFaces.settings.projectStage = 'Development';
      }</script>
</head>
<body class="login-body">
<div id="app"></div>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
